<div>
  <h2 id="page-heading" data-cy="BondHeading">
    <span jhiTranslate="createyoureventApp.bond.home.title">Bonds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.bond.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bond"
        [routerLink]="['/bond/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.bond.home.createLabel"> Create a new Bond </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bonds?.length === 0">
    <span jhiTranslate="createyoureventApp.bond.home.notFound">No bonds found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bonds && bonds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="createyoureventApp.bond.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="createyoureventApp.bond.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="createyoureventApp.bond.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="points">
            <span jhiTranslate="createyoureventApp.bond.points">Points</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <span jhiTranslate="createyoureventApp.bond.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="redemptionDate">
            <span jhiTranslate="createyoureventApp.bond.redemptionDate">Redemption Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="createyoureventApp.bond.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pointsExchange.id">
            <span jhiTranslate="createyoureventApp.bond.pointsExchange">Points Exchange</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bond of bonds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bond', bond.id, 'view']">{{ bond.id }}</a>
          </td>
          <td>{{ bond.name }}</td>
          <td>{{ bond.description }}</td>
          <td>{{ bond.code }}</td>
          <td>{{ bond.points }}</td>
          <td>{{ bond.creationDate | formatMediumDatetime }}</td>
          <td>{{ bond.redemptionDate | formatMediumDatetime }}</td>
          <td>
            {{ bond.user?.id }}
          </td>
          <td>
            <div *ngIf="bond.pointsExchange">
              <a [routerLink]="['/points-exchange', bond.pointsExchange?.id, 'view']">{{ bond.pointsExchange?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bond', bond.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/bond', bond.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bond)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bonds && bonds.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
