<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-organization-reservation-heading"
        data-cy="OrganizationReservationCreateUpdateHeading"
        jhiTranslate="createyoureventApp.organizationReservation.home.createOrEditLabel"
      >
        Create or edit a Organization Reservation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organizationReservation.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organizationReservation.dateFrom" for="field_dateFrom"
            >Date From</label
          >
          <div class="d-flex">
            <input
              id="field_dateFrom"
              data-cy="dateFrom"
              type="datetime-local"
              class="form-control"
              name="dateFrom"
              formControlName="dateFrom"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organizationReservation.dateUntil" for="field_dateUntil"
            >Date Until</label
          >
          <div class="d-flex">
            <input
              id="field_dateUntil"
              data-cy="dateUntil"
              type="datetime-local"
              class="form-control"
              name="dateUntil"
              formControlName="dateUntil"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organizationReservation.seen" for="field_seen">Seen</label>
          <input type="checkbox" class="form-check" name="seen" id="field_seen" data-cy="seen" formControlName="seen" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organizationReservation.approved" for="field_approved"
            >Approved</label
          >
          <input type="checkbox" class="form-check" name="approved" id="field_approved" data-cy="approved" formControlName="approved" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organizationReservation.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organizationReservation.feeBilled" for="field_feeBilled"
            >Fee Billed</label
          >
          <input type="checkbox" class="form-check" name="feeBilled" id="field_feeBilled" data-cy="feeBilled" formControlName="feeBilled" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organizationReservation.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organizationReservation.event" for="field_event">Event</label>
          <select class="form-control" id="field_event" data-cy="event" name="event" formControlName="event">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="eventOption.id === editForm.get('event')!.value?.id ? editForm.get('event')!.value : eventOption"
              *ngFor="let eventOption of eventsSharedCollection; trackBy: trackEventById"
            >
              {{ eventOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organizationReservation.organization" for="field_organization"
            >Organization</label
          >
          <select class="form-control" id="field_organization" data-cy="organization" name="organization" formControlName="organization">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                organizationOption.id === editForm.get('organization')!.value?.id ? editForm.get('organization')!.value : organizationOption
              "
              *ngFor="let organizationOption of organizationsSharedCollection; trackBy: trackOrganizationById"
            >
              {{ organizationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
