.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bolder;
  }

  .container_chip {
    position: relative;
    text-align: center; 
  }
