<p-carousel [value]="shops" [orientation]="orientation" [autoplayInterval]="autoplayInterval" [verticalViewPortHeight]="verticalViewPortHeight" [circular]="circular" [numVisible]="numVisible" [numScroll]="numScroll">
    <p-header>
        <h3 jhiTranslate="shop_slider.supplier-shops">Supplier-shop's</h3>
    </p-header>
    <ng-template let-shop pTemplate="item">

        <mat-card class="shop-card">
            <mat-card-header>
              <mat-card-title><span class="bungee-inline">{{ shop.name }}</span></mat-card-title>
              <mat-card-subtitle><span jhiTranslate="{{ 'createyoureventApp.ProductType.' + shop.productType }}">{{ shop.productType }}</span></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="'data:' + shop.logoContentType + ';base64,' + shop.logo" style="max-height: 250px;"  alt="shop image"/>
            <mat-card-content>
                {{ shop.motto }}
            </mat-card-content>
            <mat-card-actions>
                <button type="button" class="btn btn-secondary" (click)="goToShop(shop.id)">
                    <fa-icon icon="arrow-right"></fa-icon>&nbsp;<span jhiTranslate="entity.action.view">View</span>
                </button>
            </mat-card-actions>
          </mat-card>

    </ng-template>
</p-carousel>
