<h1 jhiTranslate="schaffhausen.home.title">We network Schaffhausen in the event area and the entire world at the same time.</h1>
<img src="../../../content/images/schaffhausen/sh.png"/>

<div class="my-translated-paragraph">
    <p class="float" jhiTranslate="schaffhausen.home.info">
        Our task is to bring the various interest groups of an event to a virtual round table and to plan and carry out the event together with all interest groups. Somt in the end everyone has the guarantee that the event was carried out according to your wishes. Now that the foundation stone of the company has been laid in Schaffhausen, we would also like to unite this environment as the first on our platform. We are now looking for suppliers and service providers from Schaffhausen who would like to be part of our community with their company on our platform.
        We offer this service for all Schaffhausen companies that are still registering with us in the BETA phase for one year free of charge. If you are interested in offering your products and services, simply register using the contact form. We will open an account for you and then you can manage everything yourself.
    </p>
</div>

<img src="../../../content/images/schaffhausen/event_manager.jpeg"/>

<hr/>

<h2>Bewerbung bei unseren Schaffhauser Firmen und Personen, sowohl natürliche als auch juristische...</h2>
<h3>Einfach für alle, die gerne mit Events zu tun haben wollen.</h3>

<div class="bewerbung">
  <iframe style="width: 70%; height: 1700px; margin: 0 auto; display: block;" src="https://docs.google.com/document/d/e/2PACX-1vQQuZ1sJUsk8HhJtJPq9Ui2tefNaaAIU4VjReZyR0rLd2csnnko-K-J7m2WjRiSIruTfRuQ_Mf3utQd/pub?embedded=true"></iframe>
</div>
