<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="chipsAdmin">
      <h2 data-cy="chipsAdminDetailsHeading"><span jhiTranslate="createyoureventApp.chipsAdmin.detail.title">Chips Admin</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ chipsAdmin.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.chipsAdmin.gameActive">Game Active</span></dt>
        <dd>
          <span>{{ chipsAdmin.gameActive }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/chips-admin', chipsAdmin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
