<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pointsExchange">
      <h2 data-cy="pointsExchangeDetailsHeading">
        <span jhiTranslate="createyoureventApp.pointsExchange.detail.title">Points Exchange</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pointsExchange.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.pointsExchange.pointsTotal">Points Total</span></dt>
        <dd>
          <span>{{ pointsExchange.pointsTotal }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.pointsExchange.bondPointsTotal">Bond Points Total</span></dt>
        <dd>
          <span>{{ pointsExchange.bondPointsTotal }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/points-exchange', pointsExchange.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
