<div>
  <div class="row">
		<div class="col-md-6">
      <h1 jhiTranslate="mobile-app.title">Download android applicatopn</h1>
      <p>
        <span jhiTranslate="mobile-app.info">
         Below is the Andoid package which you can download and install on your Android phone.
         In this application you will find both your ticket and the ticket scanner if you are planning
         and holding an event via www.createyourevent.org.
        </span>
      </p>
       <p class="download-link">
         <a href="../../content/app/createyourevent.apk" download="createyourevent.apk">
          <span jhiTranslate="mobile-app.download">Download App for Android</span>
          <hr />
          <img src="../../content/images/download.png" />
        </a>
       </p>
		</div>
		<div class="col-md-6">
      <img src="../../content/images/android_createyourevent.png" />
    </div>
	</div>
</div>

