<div>
  <h2 id="page-heading" data-cy="TicketHeading">
    <span jhiTranslate="createyoureventApp.ticket.home.title">Tickets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.ticket.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ticket"
        [routerLink]="['/ticket/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.ticket.home.createLabel"> Create a new Ticket </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tickets?.length === 0">
    <span jhiTranslate="createyoureventApp.ticket.home.notFound">No tickets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tickets && tickets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amount">
            <span jhiTranslate="createyoureventApp.ticket.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="total">
            <span jhiTranslate="createyoureventApp.ticket.total">Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="createyoureventApp.ticket.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="refNo">
            <span jhiTranslate="createyoureventApp.ticket.refNo">Ref No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="accessDate">
            <span jhiTranslate="createyoureventApp.ticket.accessDate">Access Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ticketsUsed">
            <span jhiTranslate="createyoureventApp.ticket.ticketsUsed">Tickets Used</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="event.id">
            <span jhiTranslate="createyoureventApp.ticket.event">Event</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="createyoureventApp.ticket.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ticket', ticket.id, 'view']">{{ ticket.id }}</a>
          </td>
          <td>{{ ticket.amount }}</td>
          <td>{{ ticket.total }}</td>
          <td>{{ ticket.date | formatMediumDatetime }}</td>
          <td>{{ ticket.refNo }}</td>
          <td>{{ ticket.accessDate | formatMediumDatetime }}</td>
          <td>{{ ticket.ticketsUsed }}</td>
          <td>
            <div *ngIf="ticket.event">
              <a [routerLink]="['/event', ticket.event?.id, 'view']">{{ ticket.event?.id }}</a>
            </div>
          </td>
          <td>
            {{ ticket.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ticket', ticket.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ticket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tickets && tickets.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
