<div>
  <h2 id="page-heading" data-cy="ServiceLikeDislikeHeading">
    <span jhiTranslate="createyoureventApp.serviceLikeDislike.home.title">Service Like Dislikes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.serviceLikeDislike.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-service-like-dislike"
        [routerLink]="['/service-like-dislike/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.serviceLikeDislike.home.createLabel"> Create a new Service Like Dislike </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="serviceLikeDislikes?.length === 0">
    <span jhiTranslate="createyoureventApp.serviceLikeDislike.home.notFound">No serviceLikeDislikes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="serviceLikeDislikes && serviceLikeDislikes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="like">
            <span jhiTranslate="createyoureventApp.serviceLikeDislike.like">Like</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dislike">
            <span jhiTranslate="createyoureventApp.serviceLikeDislike.dislike">Dislike</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="createyoureventApp.serviceLikeDislike.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="createyoureventApp.serviceLikeDislike.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createYourEventService.id">
            <span jhiTranslate="createyoureventApp.serviceLikeDislike.createYourEventService">Create Your Event Service</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="createyoureventApp.serviceLikeDislike.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serviceLikeDislike of serviceLikeDislikes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/service-like-dislike', serviceLikeDislike.id, 'view']">{{ serviceLikeDislike.id }}</a>
          </td>
          <td>{{ serviceLikeDislike.like }}</td>
          <td>{{ serviceLikeDislike.dislike }}</td>
          <td>{{ serviceLikeDislike.date | formatMediumDatetime }}</td>
          <td>{{ serviceLikeDislike.comment }}</td>
          <td>
            <div *ngIf="serviceLikeDislike.createYourEventService">
              <a [routerLink]="['/create-your-event-service', serviceLikeDislike.createYourEventService?.id, 'view']">{{
                serviceLikeDislike.createYourEventService?.id
              }}</a>
            </div>
          </td>
          <td>
            {{ serviceLikeDislike.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/service-like-dislike', serviceLikeDislike.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/service-like-dislike', serviceLikeDislike.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(serviceLikeDislike)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="serviceLikeDislikes && serviceLikeDislikes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
