<div>
    <h2 id="page-heading">
        <span jhiTranslate="createyoureventApp.point.home.title">Points</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-point" [routerLink]="['/point/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="createyoureventApp.point.home.createLabel">
            Create a new Point
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="points?.length === 0">
        <span jhiTranslate="createyoureventApp.point.home.notFound">No points found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="points!.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="key"><span jhiTranslate="createyoureventApp.point.key">Key</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="createyoureventApp.point.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="createyoureventApp.point.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="category"><span jhiTranslate="createyoureventApp.point.category">Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="points"><span jhiTranslate="createyoureventApp.point.points">Points</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let point of points ;trackBy: trackId">
                    <td><a [routerLink]="['/point', point.id, 'view']">{{ point.id }}</a></td>
                    <td>{{ point.key }}</td>
                    <td>{{ point.name }}</td>
                    <td>{{ point.description }}</td>
                    <td jhiTranslate="{{ 'createyoureventApp.PointsCategory.' + point.category }}">{{ point.category }}</td>
                    <td>{{ point.points }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/point', point.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/point', point.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(point)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="points!.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
