<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="coupon">
      <h2 data-cy="couponDetailsHeading"><span jhiTranslate="createyoureventApp.coupon.detail.title">Coupon</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ coupon.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.coupon.title">Title</span></dt>
        <dd>
          <span>{{ coupon.title }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.coupon.value">Value</span></dt>
        <dd>
          <span>{{ coupon.value }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.coupon.description">Description</span></dt>
        <dd>
          <span>{{ coupon.description }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.coupon.couponNr">Coupon Nr</span></dt>
        <dd>
          <span>{{ coupon.couponNr }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.coupon.used">Used</span></dt>
        <dd>
          <span>{{ coupon.used }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.coupon.user">User</span></dt>
        <dd>
          <span>{{ coupon.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.coupon.event">Event</span></dt>
        <dd>
          <div *ngIf="coupon.event">
            <a [routerLink]="['/event', coupon.event?.id, 'view']">{{ coupon.event?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/coupon', coupon.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
