<span jhiTranslate="admin-dashboard-supplier.gallery">Gallery</span>
<jhi-admin-gallery-event [jhiEvent]="jhiEvent" [user]="user"></jhi-admin-gallery-event>

<div class="row">
    <div class="col-md-12">
        <hr/>
        <div class="btn-cancel">
            <button type="button" id="cancel-save" class="btn btn-secondary btn-cancel" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>
        </div>
    </div>
</div>
