<div class="alert alert-info" role="alert">
    <h2 jhiTranslate="dashboard-event.calculation-title">Calculation and balance sheet figures</h2>
    <p jhiTranslate="dashboard-event.calculation-info">
        Below you can see the most important key figures for this event in one view. On the basis of this, you can quickly see whether this event is worthwhile for you if it is carried out.
    </p>
</div>
<hr/>
<p><jhi-calculation-event [jhiEvent]="jhiEvent"></jhi-calculation-event></p>

<div class="row">
    <div class="col-md-12">
        <hr/>
        <div class="btn-cancel">
            <button type="button" id="cancel-save" class="btn btn-secondary btn-cancel" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>
        </div>
    </div>
</div>
