

<jhi-alert-error></jhi-alert-error>

<jhi-alert></jhi-alert>

<ng-container *ngIf="events.length === 0">
    <div class="alert alert-warning" role="alert">
        <span jhiTranslate="dashboard-event.create-an-event">First, create an event.</span>
      </div>
</ng-container>

<ng-container *ngIf="events.length !== 0">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
                    <mat-toolbar color="primary">
                        <span>{{'organisator.dashboard.events' | translate}}</span>
                    </mat-toolbar>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
                  <div class="table-responsive" id="entities" *ngIf="events?.length > 0">
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                                <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                                <th scope="col"  jhiSortBy="name"><span jhiTranslate="createyoureventApp.event.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                                <th scope="col"  jhiSortBy="dateStart"><span jhiTranslate="createyoureventApp.event.dateStart">Date Start</span> <fa-icon icon="sort"></fa-icon></th>
                                <th scope="col"  jhiSortBy="dateEnd"><span jhiTranslate="createyoureventApp.event.dateEnd">Date End</span> <fa-icon icon="sort"></fa-icon></th>
                                <th scope="col"  jhiSortBy="price"><span jhiTranslate="createyoureventApp.event.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let event of events ;trackBy: trackId">
                                <td><a [routerLink]="['/events', event.id, 'view']">{{ event.id }}</a></td>
                                <td>{{ event.name }}</td>
                                <td>{{ event.dateStart | date:'mediumDate' }}</td>
                                <td>{{ event.dateEnd | date:'mediumDate' }}</td>
                                <td>{{ event.price | currency }}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="submit"
                                                [routerLink]="['/events', event.id, 'view']"
                                                class="btn btn-info btn-sm">
                                            <fa-icon icon="eye"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/events', event.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon icon="pencil-alt"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                       <!--
                                        <button type="submit" (click)="delete(event)"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon icon="times"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>

                                        <button [routerLink]="['/events', event.id, 'product-wishlist']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon icon="pencil-alt"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="dashboard-organisator.wishlist">Wishlist</span>
                                        </button>
                                        -->
                                        <button [routerLink]="['/events', event.id, 'dashboard-event']"
                                            class="btn btn-primary btn-sm">
                                            <fa-icon icon="list" fixedWidth="true"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="dashboard-event.dashboard">Dashboard</span>
                                        </button>

                                        <button [routerLink]="['/organisator/guest-reservation', event.id, 'guest-reservation']" class="btn btn-success btn-sm">
                                            <fa-icon icon="pencil-alt"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="dashboard-organisator.reservation">Reservation's</span>
                                        </button>
                                        <!--
                                        <ng-container *ngIf="!event.billedOrganisator">
                                            <button [routerLink]="['/organisator/cashbox', event.id, 'cashbox']" class="btn btn-success btn-sm">
                                                <fa-icon icon="cash-register"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="dashboard-organisator.cashbox">Cashbox</span>
                                            </button>
                                        </ng-container>

                                        <button [routerLink]="['/organisator/offers', event.id, 'offer']"
                                            class="btn btn-primary btn-sm">
                                            <fa-icon icon="money-bill"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="dashboard-organisator.offer">Offer's</span>
                                        </button>
                                        -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="events?.length > 0">
                    <div class="row justify-content-center">
                        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
                    </div>

                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                    </div>
                </div>
            </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
<router-outlet></router-outlet>
</ng-container>
