<div>
  <h2 id="page-heading" data-cy="ServiceOfferHeading">
    <span jhiTranslate="createyoureventApp.serviceOffer.home.title">Service Offers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.serviceOffer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-service-offer"
        [routerLink]="['/service-offer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.serviceOffer.home.createLabel"> Create a new Service Offer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="serviceOffers?.length === 0">
    <span jhiTranslate="createyoureventApp.serviceOffer.home.notFound">No serviceOffers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="serviceOffers && serviceOffers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="createyoureventApp.serviceOffer.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="createyoureventApp.serviceOffer.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="costHour">
            <span jhiTranslate="createyoureventApp.serviceOffer.costHour">Cost Hour</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="serviceMaps.id">
            <span jhiTranslate="createyoureventApp.serviceOffer.serviceMaps">Service Maps</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serviceOffer of serviceOffers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/service-offer', serviceOffer.id, 'view']">{{ serviceOffer.id }}</a>
          </td>
          <td>{{ serviceOffer.title }}</td>
          <td>{{ serviceOffer.description }}</td>
          <td>{{ serviceOffer.costHour }}</td>
          <td>
            <div *ngIf="serviceOffer.serviceMaps">
              <a [routerLink]="['/service-map', serviceOffer.serviceMaps?.id, 'view']">{{ serviceOffer.serviceMaps?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/service-offer', serviceOffer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/service-offer', serviceOffer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(serviceOffer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="serviceOffers && serviceOffers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
