
<mat-tab-group>
    <mat-tab label="Contact formular">


        <h1 jhiTranslate="createyourevent.contact.title"></h1>
        <p jhiTranslate="createyourevent.contact.info">

        </p>

        <form name="contactForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="contactForm">
            <h2 id="jhi-contact-heading" jhiTranslate="createyoureventApp.contact.home.createOrEditLabel">Create or edit a Contact</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>
            </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="createyoureventApp.contact.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   formControlName="name"/>
            <div *ngIf="contactForm.get('name')!.invalid && (contactForm.get('name')!.dirty || contactForm.get('name')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="contactForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="createyoureventApp.contact.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                   formControlName="email"/>
            <div *ngIf="contactForm.get('email')!.invalid && (contactForm.get('email')!.dirty || contactForm.get('email')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="contactForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="createyoureventApp.contact.message" for="field_message">Message</label>
            <textarea class="form-control" name="message" id="field_message"
                      formControlName="message"></textarea>
            <div *ngIf="contactForm.get('message')!.invalid && (contactForm.get('message')!.dirty || contactForm.get('message')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="contactForm.get('message')?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
                </small>
            </div>
        </div>
        <div class="contact-button-row">
          <div class="contact-2-button">
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button type="submit" id="save-entity" [disabled]="contactForm.invalid || isSaving" class="btn btn-primary">
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
         x</div>
        </div>
        </form>
    </mat-tab>
    <mat-tab label="Map">
        <p-gmap [options]="options" [style]="{'width':'100%','height':'320px'}" [overlays]="overlays"></p-gmap>
    </mat-tab>
  </mat-tab-group>
