<div>
  <h2 id="page-heading" data-cy="ShopCommentHeading">
    <span jhiTranslate="createyoureventApp.shopComment.home.title">Shop Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.shopComment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-shop-comment"
        [routerLink]="['/shop-comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.shopComment.home.createLabel"> Create a new Shop Comment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="shopComments?.length === 0">
    <span jhiTranslate="createyoureventApp.shopComment.home.notFound">No shopComments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="shopComments && shopComments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="createyoureventApp.shopComment.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="createyoureventApp.shopComment.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shop.id">
            <span jhiTranslate="createyoureventApp.shopComment.shop">Shop</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="createyoureventApp.shopComment.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shopComment.id">
            <span jhiTranslate="createyoureventApp.shopComment.shopComment">Shop Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shopComment of shopComments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/shop-comment', shopComment.id, 'view']">{{ shopComment.id }}</a>
          </td>
          <td>{{ shopComment.comment }}</td>
          <td>{{ shopComment.date | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="shopComment.shop">
              <a [routerLink]="['/shop', shopComment.shop?.id, 'view']">{{ shopComment.shop?.id }}</a>
            </div>
          </td>
          <td>
            {{ shopComment.user?.id }}
          </td>
          <td>
            <div *ngIf="shopComment.shopComment">
              <a [routerLink]="['/shop-comment', shopComment.shopComment?.id, 'view']">{{ shopComment.shopComment?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/shop-comment', shopComment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/shop-comment', shopComment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(shopComment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="shopComments && shopComments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
