<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-chips-collection-chips-heading"
        data-cy="ChipsCollectionChipsCreateUpdateHeading"
        jhiTranslate="createyoureventApp.chipsCollectionChips.home.createOrEditLabel"
      >
        Create or edit a Chips Collection Chips
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="createyoureventApp.chipsCollectionChips.chipsCollection"
            for="field_chipsCollection"
            >Chips Collection</label
          >
          <select
            class="form-control"
            id="field_chipsCollection"
            data-cy="chipsCollection"
            name="chipsCollection"
            formControlName="chipsCollection"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                chipsCollectionOption.id === editForm.get('chipsCollection')!.value?.id
                  ? editForm.get('chipsCollection')!.value
                  : chipsCollectionOption
              "
              *ngFor="let chipsCollectionOption of chipsCollectionsSharedCollection; trackBy: trackChipsCollectionById"
            >
              {{ chipsCollectionOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.chipsCollectionChips.chips" for="field_chips">Chips</label>
          <select class="form-control" id="field_chips" data-cy="chips" name="chips" formControlName="chips">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="chipsOption.id === editForm.get('chips')!.value?.id ? editForm.get('chips')!.value : chipsOption"
              *ngFor="let chipsOption of chipsSharedCollection; trackBy: trackChipsById"
            >
              {{ chipsOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
