<div id="bond" class="bond">
  <table class="table_bond">
    <tr>
      <td class="logo"><img src="../../../../content/images/createyourevent_250px.png" /></td>
      <td class="company">
        <h1>Create Your Event</h1>
        <h1>Eventcompany</h1>
        <h1>Schaffhausen</h1>
        <div class="points-count">
          {{ bond.points }} {{ 'admin-bonds.points' | translate }}
        </div>
      </td>
      <td class="logo"><img src="../../../../content/images/createyourevent_250px.png" /></td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="box_desc">
          <p class="writing_title">{{ bond.name }}</p>
          <p class="writing">{{ bond.description }}</p>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="center">
        <h3 jhiTranslate="admin-bonds.voucher-code"></h3>
        <span class="code">{{ bond.code }}</span>
      </td>
    </tr>
  </table>
</div>

<button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
  <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
</button>
<button type="button" id="cancel-save" class="btn btn-secondary" (click)="generatePDF()">
  <fa-icon icon=""></fa-icon>&nbsp;<span>PDF</span>
</button>
