.bold {
    font-weight: bold;
}

.buy {
    display: block;
    font-size: 12px;
    font-weight: bold;
    background-color: #5D9CEC;
    padding: 0 18px;
    line-height: 30px;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
 }