<div>
  <h2 id="page-heading" data-cy="EventProductOrderHeading">
    <span jhiTranslate="createyoureventApp.eventProductOrder.home.title">Event Product Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.eventProductOrder.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-event-product-order"
        [routerLink]="['/event-product-order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.eventProductOrder.home.createLabel"> Create a new Event Product Order </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eventProductOrders?.length === 0">
    <span jhiTranslate="createyoureventApp.eventProductOrder.home.notFound">No eventProductOrders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="eventProductOrders && eventProductOrders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amount">
            <span jhiTranslate="createyoureventApp.eventProductOrder.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="total">
            <span jhiTranslate="createyoureventApp.eventProductOrder.total">Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="createyoureventApp.eventProductOrder.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rentalPeriod">
            <span jhiTranslate="createyoureventApp.eventProductOrder.rentalPeriod">Rental Period</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFrom">
            <span jhiTranslate="createyoureventApp.eventProductOrder.dateFrom">Date From</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateUntil">
            <span jhiTranslate="createyoureventApp.eventProductOrder.dateUntil">Date Until</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="createyoureventApp.eventProductOrder.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="billed">
            <span jhiTranslate="createyoureventApp.eventProductOrder.billed">Billed</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="seen">
            <span jhiTranslate="createyoureventApp.eventProductOrder.seen">Seen</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="approved">
            <span jhiTranslate="createyoureventApp.eventProductOrder.approved">Approved</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sellingPrice">
            <span jhiTranslate="createyoureventApp.eventProductOrder.sellingPrice">Selling Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="createyoureventApp.eventProductOrder.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="event.id">
            <span jhiTranslate="createyoureventApp.eventProductOrder.event">Event</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="product.id">
            <span jhiTranslate="createyoureventApp.eventProductOrder.product">Product</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shop.id">
            <span jhiTranslate="createyoureventApp.eventProductOrder.shop">Shop</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cart.id">
            <span jhiTranslate="createyoureventApp.eventProductOrder.cart">Cart</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deliveryType.id">
            <span jhiTranslate="createyoureventApp.eventProductOrder.deliveryType">Delivery Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventProductOrder of eventProductOrders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/event-product-order', eventProductOrder.id, 'view']">{{ eventProductOrder.id }}</a>
          </td>
          <td>{{ eventProductOrder.amount }}</td>
          <td>{{ eventProductOrder.total }}</td>
          <td>{{ eventProductOrder.date | formatMediumDatetime }}</td>
          <td>{{ eventProductOrder.rentalPeriod }}</td>
          <td>{{ eventProductOrder.dateFrom | formatMediumDatetime }}</td>
          <td>{{ eventProductOrder.dateUntil | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'createyoureventApp.RentStatus.' + eventProductOrder.status }}">{{ eventProductOrder.status }}</td>
          <td>{{ eventProductOrder.billed }}</td>
          <td>{{ eventProductOrder.seen }}</td>
          <td>{{ eventProductOrder.approved }}</td>
          <td>{{ eventProductOrder.sellingPrice }}</td>
          <td>
            {{ eventProductOrder.user?.id }}
          </td>
          <td>
            <div *ngIf="eventProductOrder.event">
              <a [routerLink]="['/event', eventProductOrder.event?.id, 'view']">{{ eventProductOrder.event?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="eventProductOrder.product">
              <a [routerLink]="['/product', eventProductOrder.product?.id, 'view']">{{ eventProductOrder.product?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="eventProductOrder.shop">
              <a [routerLink]="['/shop', eventProductOrder.shop?.id, 'view']">{{ eventProductOrder.shop?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="eventProductOrder.cart">
              <a [routerLink]="['/cart', eventProductOrder.cart?.id, 'view']">{{ eventProductOrder.cart?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="eventProductOrder.deliveryType">
              <a [routerLink]="['/delivery-type', eventProductOrder.deliveryType?.id, 'view']">{{ eventProductOrder.deliveryType?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/event-product-order', eventProductOrder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/event-product-order', eventProductOrder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(eventProductOrder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="eventProductOrders && eventProductOrders.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
