<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reservation-transaction-id-heading"
        data-cy="ReservationTransactionIdCreateUpdateHeading"
        jhiTranslate="createyoureventApp.reservationTransactionId.home.createOrEditLabel"
      >
        Create or edit a Reservation Transaction Id
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="createyoureventApp.reservationTransactionId.transactionDepositId"
            for="field_transactionDepositId"
            >Transaction Deposit Id</label
          >
          <input
            type="text"
            class="form-control"
            name="transactionDepositId"
            id="field_transactionDepositId"
            data-cy="transactionDepositId"
            formControlName="transactionDepositId"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="createyoureventApp.reservationTransactionId.transactionId"
            for="field_transactionId"
            >Transaction Id</label
          >
          <input
            type="text"
            class="form-control"
            name="transactionId"
            id="field_transactionId"
            data-cy="transactionId"
            formControlName="transactionId"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
