<jhi-page-ribbon></jhi-page-ribbon>

<jhi-chip-holder></jhi-chip-holder>

    <jhi-system-notification></jhi-system-notification>
    <jhi-points-display></jhi-points-display>
    <jhi-chat-notification></jhi-chat-notification>
    <jhi-reserved-events></jhi-reserved-events>

<div id="banner">
    <!-- <div class="cocktail"></div> -->
    <!-- <div class="discokugel"></div> -->
    <ng-container *ngIf="!loggedIn">
    <div class="row">
      <div class="col-md-4">
        <div class="box_gradient" gradient>
          <div class="row">
            <div class="col-md-3">
              <img src="../../../content/images/Sign-Info-icon.png" />
            </div>
            <div class="col-md-9">
              <h3 class="title_font" jhiTranslate="main.explanation-video">Explanation video</h3>
              <h5 class="title_font" jhiTranslate="main.for-createyourevent-org">for createyourevent.org</h5>
            </div>
          </div>
          <hr/>
          <jhi-videoplayer></jhi-videoplayer>
          <hr/>
          <a class="nav-link instructions" routerLink="instructions">
            <span>
              <fa-icon icon="question"></fa-icon>
              <span jhiTranslate="navbar.instructions">Instructions</span>
            </span>
          </a>

          <!--
          <p class="download-link">
            <a class="apk_link" href="../../../content/app/createyourevent.apk" download="createyourevent.apk">
             <span jhiTranslate="mobile-app.download">Download App for Android</span>
             <hr />
             <img src="../../content/images/download.png" />
           </a>
          </p>
        -->
        </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="box_gradient logo_center" gradient>
                <img src="../../../content/images/create_your_event_logo.png">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="box_gradient" gradient>
                <h4 class="bold"jhiTranslate="home.title_2">For organizers, suppliers, service providers, attendees and the rest of the world</h4>
                <p class="lead font" jhiTranslate="home.subtitle">Welcome in the paradise where you could create your event yourself with all guests together</p>
              </div>
            </div>
          </div>

        </div>
      <div class="col-md-4 box_gradient" gradient>
        <!-- <div class='margin-top-50px ∞'></div> -->
        <jhi-our-range></jhi-our-range>
      </div>
    </div>
  </ng-container>

	<div class="row seccond_line">
    <!--
    <ng-container *ngIf="!loggedIn">
		<div class="col-md-6 ads_part box_gradient" gradient>
        <jhi-partner-ads-slider [partners]="partners"></jhi-partner-ads-slider>
		</div>
    </ng-container>
    -->
    <ng-container *ngIf="loggedIn">
      <p class="logo_loggedIn">
        <img src="../../../content/images/createyourevent_250px.png">
      </p>
    </ng-container>

    <!--
    <div class="col-md-6 tv_part">
      <ng-container *ngIf="!loggedIn">
        <div class="row">
          <div class="col-md-4">
            <jhi-movie-slider [events]="allEvents"></jhi-movie-slider>
          </div>
          <div class="col-md-8 box_gradient" gradient>
            <div class="adsense">
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <ng-adsense
                [adClient]="'ca-pub-4410151524668264'"
                [adSlot]="3054597385"
                [display]="'inline-block'"
                [width]="320"
                [height]="320"
              ></ng-adsense>
            </div>
          </div>
        </div>
      </ng-container>
		</div>
    -->
	</div>

    <!-- <div class="fruitcocktail"></div> -->
    <!-- <div class="palmenblatt"></div> -->
</div>
<div id="content">
    <jhi-event-ticker></jhi-event-ticker>
    <div>
        <router-outlet name="navbar"></router-outlet>
    </div>
    <jhi-ticker></jhi-ticker>


    <div>
        <jhi-shopping-cart></jhi-shopping-cart>
    </div>

    <div class="container-fluid">
        <div class="card jh-card">
            <router-outlet></router-outlet>
        </div>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
        attribution=setup_tool
        page_id="234806490763046">
        </div>
        <ngx-scrolltop>
            <fa-icon icon="arrow-up"></fa-icon>
        </ngx-scrolltop>
    </div>

    <jhi-footer>
    </jhi-footer>

    <ng-container *jhiHasAnyAuthority="'ROLE_USER'">
        <jhi-chat></jhi-chat>
    </ng-container>
</div>
<jhi-docker-apps></jhi-docker-apps>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">You Have Been Idle!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         {{idleState}}
        <div class="row mrgbtm">
          <div class="col-md-6">
              <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
          </div>
          <div class="col-md-6">
              <button type="button" (click)="stay()" class="btn btn-success">Stay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
