<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="serviceStarRating">
      <h2 data-cy="serviceStarRatingDetailsHeading">
        <span jhiTranslate="createyoureventApp.serviceStarRating.detail.title">Service Star Rating</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ serviceStarRating.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.serviceStarRating.stars">Stars</span></dt>
        <dd>
          <span>{{ serviceStarRating.stars }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.serviceStarRating.date">Date</span></dt>
        <dd>
          <span>{{ serviceStarRating.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.serviceStarRating.comment">Comment</span></dt>
        <dd>
          <span>{{ serviceStarRating.comment }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.serviceStarRating.service">Service</span></dt>
        <dd>
          <div *ngIf="serviceStarRating.service">
            <a [routerLink]="['/create-your-event-service', serviceStarRating.service?.id, 'view']">{{ serviceStarRating.service?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.serviceStarRating.user">User</span></dt>
        <dd>
          <span>{{ serviceStarRating.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/service-star-rating', serviceStarRating.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
