<div>
  <h2 id="page-heading" data-cy="OrganizationCommentHeading">
    <span jhiTranslate="createyoureventApp.organizationComment.home.title">Organization Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.organizationComment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-organization-comment"
        [routerLink]="['/organization-comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.organizationComment.home.createLabel"> Create a new Organization Comment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="organizationComments?.length === 0">
    <span jhiTranslate="createyoureventApp.organizationComment.home.notFound">No organizationComments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="organizationComments && organizationComments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="createyoureventApp.organizationComment.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="createyoureventApp.organizationComment.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="organization.id">
            <span jhiTranslate="createyoureventApp.organizationComment.organization">Organization</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="createyoureventApp.organizationComment.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="event.id">
            <span jhiTranslate="createyoureventApp.organizationComment.event">Event</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="organizationComment.id">
            <span jhiTranslate="createyoureventApp.organizationComment.organizationComment">Organization Comment</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organizationComment of organizationComments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/organization-comment', organizationComment.id, 'view']">{{ organizationComment.id }}</a>
          </td>
          <td>{{ organizationComment.comment }}</td>
          <td>{{ organizationComment.date | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="organizationComment.organization">
              <a [routerLink]="['/organization', organizationComment.organization?.id, 'view']">{{
                organizationComment.organization?.id
              }}</a>
            </div>
          </td>
          <td>
            {{ organizationComment.user?.id }}
          </td>
          <td>
            <div *ngIf="organizationComment.event">
              <a [routerLink]="['/organization', organizationComment.event?.id, 'view']">{{ organizationComment.event?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="organizationComment.organizationComment">
              <a [routerLink]="['/organization-comment', organizationComment.organizationComment?.id, 'view']">{{
                organizationComment.organizationComment?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/organization-comment', organizationComment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/organization-comment', organizationComment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(organizationComment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="organizationComments && organizationComments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
