<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-admin-fees-price-heading"
        data-cy="AdminFeesPriceCreateUpdateHeading"
        jhiTranslate="createyoureventApp.adminFeesPrice.home.createOrEditLabel"
      >
        Create or edit a Admin Fees Price
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.adminFeesPrice.feesOrganisator" for="field_feesOrganisator"
            >Fees Organisator</label
          >
          <input
            type="number"
            class="form-control"
            name="feesOrganisator"
            id="field_feesOrganisator"
            data-cy="feesOrganisator"
            formControlName="feesOrganisator"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.adminFeesPrice.feesSupplier" for="field_feesSupplier"
            >Fees Supplier</label
          >
          <input
            type="number"
            class="form-control"
            name="feesSupplier"
            id="field_feesSupplier"
            data-cy="feesSupplier"
            formControlName="feesSupplier"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.adminFeesPrice.feesService" for="field_feesService"
            >Fees Service</label
          >
          <input
            type="number"
            class="form-control"
            name="feesService"
            id="field_feesService"
            data-cy="feesService"
            formControlName="feesService"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.adminFeesPrice.feesOrganizations" for="field_feesOrganizations"
            >Fees Organizations</label
          >
          <input
            type="number"
            class="form-control"
            name="feesOrganizations"
            id="field_feesOrganizations"
            data-cy="feesOrganizations"
            formControlName="feesOrganizations"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
