.marker {
  padding: 3px;
  border: 1px solid;
  color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  width: 150px;
  margin: 10px;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
