.p-card {
  margin: 10px;
  padding: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: rgb(179, 220, 237); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(179, 220, 237) 0%, rgb(41, 184, 229) 50%, rgb(188, 224, 238) 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgb(179, 220, 237) 0%,
    rgb(41, 184, 229) 50%,
    rgb(188, 224, 238) 100%
  ) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(179, 220, 237) 0%,
    rgb(41, 184, 229) 50%,
    rgb(188, 224, 238) 100%
  ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ) !important; /* IE6-9 */
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.row-list {
  width: 100%;
}

.float-left {
  float: left;
}

.padding-10 {
  padding: 10px;
}

.horizontal-card {
  height: 250px;
}

.white-coupons {
  color: #fff;
}

.bold {
  font-weight: bold;
}
