<h1 jhiTranslate="businessplan.title_page">Business-Plan of www.createyourevent.org / www.heartfull-mind.org</h1>

<div jhiTranslate="businessplan.info">
    We work according to the business plan as it is done by us at www.heartfull-mind.org, our parents' family, i.e. the headquarters.
    We also adhere to all points stated on this business plan. Below you can see our business plan as a mind map showing which values are involved.

    With kind regards
    Urs Baumann, CEO and owner of www.createyourevent.org a subunit of www.heartfull-mind.org
</div>
<hr/>
<iframe width="1500px" height="1500px" src="https://www.mindmeister.com/maps/public_map_shell/1142014549/heartfull-mind-businessplan?width=1100&height=850&z=auto&live_update=1&presentation=1" title="{{'businessplan.title' | translate}}"></iframe>
