<ng-container *ngIf="loading">
  <div class="spinner-container">
      <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
<ng-container *ngIf="!loading">
<jhi-alert-error></jhi-alert-error>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <span jhiTranslate="product-detail.detail">Detail's</span>
    </ng-template>

    <div class="container-fluid">
      <div class="row box_green">
          <div class="col-md-8">
            <div class="title_motto">
              <h1><span class="title">{{ club.organization.name }}</span></h1>
              <h2>{{ club.organization.motto }}</h2>
              <h3>{{ club.organization.organizationType }}</h3>
            </div>
          </div>
          <div class="col-md-4">
              <div *ngIf="club.organization.logo!" class="margin-top">
                      <img [src]="'data:' + club.organization.logoContentType + ';base64,' + club.organization.logo" style="max-width: 375px;; max-height: 200px;" alt="shop image" class="img-thumbnail"/>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-8">
                      <div class="box">
                          <div class="ql-snow">
                              <div class="ql-editor">
                                  <div [innerHTML]="club.organization.description | safeHtml"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="box">
                          <div>{{ address }}</div>
                          <div>{{ place }}</div>
                          <div>{{ land }}</div>
                      </div>
                      <div class="box">
                          <p-gmap #gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'250px'}" (onMapReady)="setMap($event)"></p-gmap>
                      </div>
                      <div class="box">
                          <div>{{ club.organization.phone }}</div>
                          <div><a href="{{ club.organization.webAddress }}">{{ club.organization.webAddress }}</a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      </mat-tab>

      <ng-container *ngIf="images.length > 0">
          <mat-tab>
              <ng-template mat-tab-label>
                  <span jhiTranslate="product-detail.gallery">Gallery</span>
              </ng-template>
              <jhi-gallery-organization [images]="images"></jhi-gallery-organization>
          </mat-tab>
      </ng-container>

      </mat-tab-group>

          <ng-container *jhiHasAnyAuthority="'ROLE_USER'">
              <hr/>
                  <jhi-like-dislike [like]="like" [dislike]="dislike" [disabled]="rated" (liked)="onVoted($event)"></jhi-like-dislike>
                  <jhi-star-rating [val]="stars" (rated)="onChangesStars($event)" [disabled]="ratedStars"></jhi-star-rating>
              <hr/>
          </ng-container>
          <jhi-organization-has-events [events]="events"></jhi-organization-has-events>
          <hr/>
          <button type="submit"
                  (click)="previousState()"
                  class="btn btn-info">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
          </button>
          <hr/>
          <ng-container *jhiHasAnyAuthority="'ROLE_USER'">
              <jhi-comment-box [comments]="comments" (comment)="onCommented($event)" (answer)="onAnswered($event)"></jhi-comment-box>
          </ng-container>
</ng-container>
