<div>
  <h2 id="page-heading" data-cy="DeliveryTypeHeading">
    <span jhiTranslate="createyoureventApp.deliveryType.home.title">Delivery Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.deliveryType.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-delivery-type"
        [routerLink]="['/delivery-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.deliveryType.home.createLabel"> Create a new Delivery Type </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="deliveryTypes?.length === 0">
    <span jhiTranslate="createyoureventApp.deliveryType.home.notFound">No deliveryTypes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="deliveryTypes && deliveryTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="deliveryType">
            <span jhiTranslate="createyoureventApp.deliveryType.deliveryType">Delivery Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="minimumOrderQuantity">
            <span jhiTranslate="createyoureventApp.deliveryType.minimumOrderQuantity">Minimum Order Quantity</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="price">
            <span jhiTranslate="createyoureventApp.deliveryType.price">Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pricePerKilometre">
            <span jhiTranslate="createyoureventApp.deliveryType.pricePerKilometre">Price Per Kilometre</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="product.id">
            <span jhiTranslate="createyoureventApp.deliveryType.product">Product</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deliveryType of deliveryTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/delivery-type', deliveryType.id, 'view']">{{ deliveryType.id }}</a>
          </td>
          <td jhiTranslate="{{ 'createyoureventApp.DeliveryTypes.' + deliveryType.deliveryType }}">{{ deliveryType.deliveryType }}</td>
          <td>{{ deliveryType.minimumOrderQuantity }}</td>
          <td>{{ deliveryType.price }}</td>
          <td>{{ deliveryType.pricePerKilometre }}</td>
          <td>
            <div *ngIf="deliveryType.product">
              <a [routerLink]="['/product', deliveryType.product?.id, 'view']">{{ deliveryType.product?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/delivery-type', deliveryType.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/delivery-type', deliveryType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(deliveryType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="deliveryTypes && deliveryTypes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
