<div>
  <h2 id="page-heading" data-cy="TagsHeading">
    <span jhiTranslate="createyoureventApp.tags.home.title">Tags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.tags.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tags"
        [routerLink]="['/tags/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.tags.home.createLabel"> Create a new Tags </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tags?.length === 0">
    <span jhiTranslate="createyoureventApp.tags.home.notFound">No tags found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tags && tags.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tag"><span jhiTranslate="createyoureventApp.tags.tag">Tag</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="event.id">
            <span jhiTranslate="createyoureventApp.tags.event">Event</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="product.id">
            <span jhiTranslate="createyoureventApp.tags.product">Product</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shop.id">
            <span jhiTranslate="createyoureventApp.tags.shop">Shop</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="service.id">
            <span jhiTranslate="createyoureventApp.tags.service">Service</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="organization.id">
            <span jhiTranslate="createyoureventApp.tags.organization">Organization</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tags of tags; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tags', tags.id, 'view']">{{ tags.id }}</a>
          </td>
          <td>{{ tags.tag }}</td>
          <td>
            <div *ngIf="tags.event">
              <a [routerLink]="['/event', tags.event?.id, 'view']">{{ tags.event?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="tags.product">
              <a [routerLink]="['/product', tags.product?.id, 'view']">{{ tags.product?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="tags.shop">
              <a [routerLink]="['/shop', tags.shop?.id, 'view']">{{ tags.shop?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="tags.service">
              <a [routerLink]="['/create-your-event-service', tags.service?.id, 'view']">{{ tags.service?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="tags.organization">
              <a [routerLink]="['/organization', tags.organization?.id, 'view']">{{ tags.organization?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tags', tags.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/tags', tags.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tags)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tags && tags.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
