.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(238, 232, 213, 0.125);
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.container_box_slider {
  width: 150px;
  margin-left: 50px;
}

.card-img-event-slider {
  max-width: 140px;
  max-height: 140px;
  margin: 5px auto;
}

.container_box_slider .box_1 {
  position: relative;
  height: 280px;
  color: #fff;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_box_slider .box_1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #00ffb3, #ff0059);
  filter: blur(30px);
}

.container_box_slider .box_1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #00ffb3, #ff0059);
}

.container_box_slider .box_1 .black {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container_box_slider .box_2 {
  position: relative;
  height: 280px;
  color: #fff;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_box_slider .box_2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #d8ff7e, #09fff3);
  filter: blur(30px);
}

.container_box_slider .box_2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #d8ff7e, #09fff3);
}

.container_box_slider .box_2 .black {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container_box_slider .box_3 {
  position: relative;
  height: 280px;
  color: #fff;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_box_slider .box_3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ba5ba7, #f2ff00);
  filter: blur(30px);
}

.container_box_slider .box_3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #b92a9c, #f2ff00);
}

.container_box_slider .box_3 .black {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container_box_slider .box_4 {
  position: relative;
  height: 280px;
  color: #fff;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_box_slider .box_4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #dc650a, #7700ff);
  filter: blur(30px);
}

.container_box_slider .box_4::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #dc650a, #7700ff);
}

.container_box_slider .box_4 .black {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.bold {
  font-weight: bold;
}

.movieFrame {
  background-image: url('../../../../content/images/movieframe.png');
  background-repeat: no-repeat;
  background-size: 250px 345px;
  width: 250px;
  height: 320px;
  z-index: 20;
}

.heart {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}
