.mat-card {
  margin: 20px;
  width: 200px;
}

.btn {
  margin: 3px;
}

.user_comment {
  list-style-type: none;
}

.comment_body {
  display: inline-block;
  vertical-align: middle;
  margin: 3px auto;
  width: calc(100% - 75px);
  min-height: 65px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #555;
  background-color: white;
  border-bottom: 2px solid lighten(grey, 15%);
}


