<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="eventStarRating">
      <h2 data-cy="eventStarRatingDetailsHeading">
        <span jhiTranslate="createyoureventApp.eventStarRating.detail.title">Event Star Rating</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ eventStarRating.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventStarRating.stars">Stars</span></dt>
        <dd>
          <span>{{ eventStarRating.stars }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventStarRating.date">Date</span></dt>
        <dd>
          <span>{{ eventStarRating.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventStarRating.comment">Comment</span></dt>
        <dd>
          <span>{{ eventStarRating.comment }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventStarRating.event">Event</span></dt>
        <dd>
          <div *ngIf="eventStarRating.event">
            <a [routerLink]="['/event', eventStarRating.event?.id, 'view']">{{ eventStarRating.event?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventStarRating.user">User</span></dt>
        <dd>
          <span>{{ eventStarRating.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/event-star-rating', eventStarRating.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
