<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tags-heading" data-cy="TagsCreateUpdateHeading" jhiTranslate="createyoureventApp.tags.home.createOrEditLabel">
        Create or edit a Tags
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.tags.tag" for="field_tag">Tag</label>
          <input type="text" class="form-control" name="tag" id="field_tag" data-cy="tag" formControlName="tag" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.tags.event" for="field_event">Event</label>
          <select class="form-control" id="field_event" data-cy="event" name="event" formControlName="event">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="eventOption.id === editForm.get('event')!.value?.id ? editForm.get('event')!.value : eventOption"
              *ngFor="let eventOption of eventsSharedCollection; trackBy: trackEventById"
            >
              {{ eventOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.tags.product" for="field_product">Product</label>
          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.tags.shop" for="field_shop">Shop</label>
          <select class="form-control" id="field_shop" data-cy="shop" name="shop" formControlName="shop">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="shopOption.id === editForm.get('shop')!.value?.id ? editForm.get('shop')!.value : shopOption"
              *ngFor="let shopOption of shopsSharedCollection; trackBy: trackShopById"
            >
              {{ shopOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.tags.service" for="field_service">Service</label>
          <select class="form-control" id="field_service" data-cy="service" name="service" formControlName="service">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                createYourEventServiceOption.id === editForm.get('service')!.value?.id
                  ? editForm.get('service')!.value
                  : createYourEventServiceOption
              "
              *ngFor="let createYourEventServiceOption of createYourEventServicesSharedCollection; trackBy: trackCreateYourEventServiceById"
            >
              {{ createYourEventServiceOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.tags.organization" for="field_organization"
            >Organization</label
          >
          <select class="form-control" id="field_organization" data-cy="organization" name="organization" formControlName="organization">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                organizationOption.id === editForm.get('organization')!.value?.id ? editForm.get('organization')!.value : organizationOption
              "
              *ngFor="let organizationOption of organizationsSharedCollection; trackBy: trackOrganizationById"
            >
              {{ organizationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
