<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-organization-heading"
        data-cy="OrganizationCreateUpdateHeading"
        jhiTranslate="createyoureventApp.organization.home.createOrEditLabel"
      >
        Create a Organization
      </h2>

      <div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="create-organization.organization-type" for="field_organizationType"
            >Organization Type</label
          >
          <select
            class="form-control"
            name="organizationType"
            formControlName="organizationType"
            id="field_organizationType"
            data-cy="organizationType"
            (change)="changeType($event)"
          >
            <option *ngFor="let organizationType of organizationTypeValues" [value]="organizationType">
              {{ 'createyoureventApp.OrganizationType.' + organizationType | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('organizationType')!.invalid &&
              (editForm.get('organizationType')!.dirty || editForm.get('organizationType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('organizationType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>


        <div class="form-group">
          <label class="form-control-label" jhiTranslate="create-organization.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <ng-container *ngIf="type === 'RESTAURANT'">
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="create-organization.menu" for="field_menu">Menu</label>
            <quill-editor [styles]="{height: '350px'}" formControlName="menu" [modules]="modules" (onEditorCreated)="getEditorInstance($event)">
              <quill-view format="text" theme="snow">
              </quill-view>
           </quill-editor>
            <div *ngIf="editForm.get('menu')!.invalid && (editForm.get('menu')!.dirty || editForm.get('menu')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('menu')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="type === 'HOTEL'">
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="create-organization.menu" for="field_menu">Menu</label>
            <quill-editor [styles]="{height: '350px'}" formControlName="menu" [modules]="modules" (onEditorCreated)="getEditorInstance($event)">
              <quill-view format="text" theme="snow">
              </quill-view>
           </quill-editor>
            <div *ngIf="editForm.get('menu')!.invalid && (editForm.get('menu')!.dirty || editForm.get('menu')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('menu')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" jhiTranslate="create-organization.placesToSleep" for="field_placesToSleep"
              >Places To Sleep</label
            >
            <input
              type="number"
              class="form-control"
              name="placesToSleep"
              id="field_placesToSleep"
              data-cy="placesToSleep"
              formControlName="placesToSleep"
            />
            <div *ngIf="editForm.get('placesToSleep')!.invalid && (editForm.get('placesToSleep')!.dirty || editForm.get('placesToSleep')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('placesToSleep')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="type === 'CLUB'">
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="create-organization.priceCard" for="field_priceCard">Price Card</label>
            <quill-editor [styles]="{height: '350px'}" formControlName="priceCard" [modules]="modules" (onEditorCreated)="getEditorInstance($event)">
              <quill-view format="text" theme="snow">
              </quill-view>
           </quill-editor>
            <div *ngIf="editForm.get('priceCard')!.invalid && (editForm.get('priceCard')!.dirty || editForm.get('priceCard')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('priceCard')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
        </ng-container>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.organization.logo" for="field_logo">Logo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('logo')!.value"
              alt="organization image"
            />
            <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_logo"
              data-cy="logo"
              (change)="setFileData($event, 'logo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="create-organization.description" for="field_description"
            >Description</label
          >
          <quill-editor [styles]="{height: '350px'}" formControlName="description" [modules]="modules" (onEditorCreated)="getEditorInstance($event)">
            <quill-view format="text" theme="snow">
            </quill-view>
         </quill-editor>

          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="create-organization.address" for="field_address">Address</label>
          <input ngx-google-places-autocomplete  type="text" class="form-control" name="address" id="field_address"
          formControlName="address" (onAddressChange)="addressChange($event)"/>
          <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('address')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="create-organization.motto" for="field_motto">Motto</label>
          <input type="text" class="form-control" name="motto" id="field_motto" data-cy="motto" formControlName="motto" />
          <div *ngIf="editForm.get('motto')!.invalid && (editForm.get('motto')!.dirty || editForm.get('motto')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('motto')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="create-organization.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
          <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('phone')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="create-organization.webAddress" for="field_webAddress"
            >Web Address</label
          >
          <input
            type="text"
            class="form-control"
            name="webAddress"
            id="field_webAddress"
            data-cy="webAddress"
            formControlName="webAddress"
          />
          <div *ngIf="editForm.get('webAddress')!.invalid && (editForm.get('webAddress')!.dirty || editForm.get('webAddress')!.touched)">
            <small class="form-text text-danger"
                    *ngIf="editForm.get('webAddress')?.errors?.startsWithHttp" jhiTranslate="messages.startsWithHttp">
            The webaddress must starts with either "http://" or "https://"
            </small>
        </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="create-organization.placeNumber" for="field_placeNumber"
            >Place Number</label
          >
          <input
            type="number"
            class="form-control"
            name="placeNumber"
            id="field_placeNumber"
            data-cy="placeNumber"
            formControlName="placeNumber"
          />
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="create-organization.price" for="field_price">Price</label>
        <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="create-organization.rentType" for="field_rentType">Rent Type</label>
        <select class="form-control" name="rentType" formControlName="rentType" id="field_rentType" data-cy="rentType">
          <option [ngValue]="null">{{ 'createyoureventApp.RentType.null' | translate }}</option>
          <option *ngFor="let rentType of rentTypeValues" [value]="rentType">
            {{ 'createyoureventApp.RentType.' + rentType | translate }}
          </option>
        </select>
        <div *ngIf="editForm.get('rentType')!.invalid && (editForm.get('rentType')!.dirty || editForm.get('rentType')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('rentType')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
