<div>
  <h2 id="page-heading" data-cy="OrganizationReservationHeading">
    <span jhiTranslate="createyoureventApp.organizationReservation.home.title">Organization Reservations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.organizationReservation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-organization-reservation"
        [routerLink]="['/organization-reservation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.organizationReservation.home.createLabel"> Create a new Organization Reservation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="organizationReservations?.length === 0">
    <span jhiTranslate="createyoureventApp.organizationReservation.home.notFound">No organizationReservations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="organizationReservations && organizationReservations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="createyoureventApp.organizationReservation.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFrom">
            <span jhiTranslate="createyoureventApp.organizationReservation.dateFrom">Date From</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateUntil">
            <span jhiTranslate="createyoureventApp.organizationReservation.dateUntil">Date Until</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="seen">
            <span jhiTranslate="createyoureventApp.organizationReservation.seen">Seen</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="approved">
            <span jhiTranslate="createyoureventApp.organizationReservation.approved">Approved</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="total">
            <span jhiTranslate="createyoureventApp.organizationReservation.total">Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="feeBilled">
            <span jhiTranslate="createyoureventApp.organizationReservation.feeBilled">Fee Billed</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="createyoureventApp.organizationReservation.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="event.id">
            <span jhiTranslate="createyoureventApp.organizationReservation.event">Event</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="organization.id">
            <span jhiTranslate="createyoureventApp.organizationReservation.organization">Organization</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organizationReservation of organizationReservations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/organization-reservation', organizationReservation.id, 'view']">{{ organizationReservation.id }}</a>
          </td>
          <td>{{ organizationReservation.date | formatMediumDatetime }}</td>
          <td>{{ organizationReservation.dateFrom | formatMediumDatetime }}</td>
          <td>{{ organizationReservation.dateUntil | formatMediumDatetime }}</td>
          <td>{{ organizationReservation.seen }}</td>
          <td>{{ organizationReservation.approved }}</td>
          <td>{{ organizationReservation.total }}</td>
          <td>{{ organizationReservation.feeBilled }}</td>
          <td>
            {{ organizationReservation.user?.id }}
          </td>
          <td>
            <div *ngIf="organizationReservation.event">
              <a [routerLink]="['/event', organizationReservation.event?.id, 'view']">{{ organizationReservation.event?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="organizationReservation.organization">
              <a [routerLink]="['/organization', organizationReservation.organization?.id, 'view']">{{
                organizationReservation.organization?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/organization-reservation', organizationReservation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/organization-reservation', organizationReservation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(organizationReservation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="organizationReservations && organizationReservations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
