<div>
  <h2 id="page-heading" data-cy="OrganizationLikeDislikeHeading">
    <span jhiTranslate="createyoureventApp.organizationLikeDislike.home.title">Organization Like Dislikes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.organizationLikeDislike.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-organization-like-dislike"
        [routerLink]="['/organization-like-dislike/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.organizationLikeDislike.home.createLabel"> Create a new Organization Like Dislike </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="organizationLikeDislikes?.length === 0">
    <span jhiTranslate="createyoureventApp.organizationLikeDislike.home.notFound">No organizationLikeDislikes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="organizationLikeDislikes && organizationLikeDislikes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="like">
            <span jhiTranslate="createyoureventApp.organizationLikeDislike.like">Like</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dislike">
            <span jhiTranslate="createyoureventApp.organizationLikeDislike.dislike">Dislike</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="createyoureventApp.organizationLikeDislike.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="createyoureventApp.organizationLikeDislike.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="organization.id">
            <span jhiTranslate="createyoureventApp.organizationLikeDislike.organization">Organization</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="event.id">
            <span jhiTranslate="createyoureventApp.organizationLikeDislike.event">Event</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="createyoureventApp.organizationLikeDislike.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organizationLikeDislike of organizationLikeDislikes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/organization-like-dislike', organizationLikeDislike.id, 'view']">{{ organizationLikeDislike.id }}</a>
          </td>
          <td>{{ organizationLikeDislike.like }}</td>
          <td>{{ organizationLikeDislike.dislike }}</td>
          <td>{{ organizationLikeDislike.date | formatMediumDatetime }}</td>
          <td>{{ organizationLikeDislike.comment }}</td>
          <td>
            <div *ngIf="organizationLikeDislike.organization">
              <a [routerLink]="['/organization', organizationLikeDislike.organization?.id, 'view']">{{
                organizationLikeDislike.organization?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="organizationLikeDislike.event">
              <a [routerLink]="['/organization', organizationLikeDislike.event?.id, 'view']">{{ organizationLikeDislike.event?.id }}</a>
            </div>
          </td>
          <td>
            {{ organizationLikeDislike.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/organization-like-dislike', organizationLikeDislike.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/organization-like-dislike', organizationLikeDislike.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(organizationLikeDislike)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="organizationLikeDislikes && organizationLikeDislikes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
