<h4 class="bold" jhiTranslate="our-range.title">Our range on our round table for event management processes</h4>

<ul class="font">
  <li jhiTranslate="our-range.advertise-events">Advertise your events</li>
  <li jhiTranslate="our-range.sell-tickets">We sell your tickets</li>
  <li jhiTranslate="our-range.ticketing-app">Use our ticketing app for your admission control</li>
  <li jhiTranslate="our-range.sell-products">Sell your products for any event that we advertise</li>
  <li jhiTranslate="our-range.offer-services">Offer your service for any event that we have advertised</li>
  <li jhiTranslate="our-range.register-organization">Register your hotel, club or restaurant with us and rent it out...</li>
  <li jhiTranslate="our-range.register-free">Registration is free...</li>
  <li jhiTranslate="our-range.other-functions">Many other useful functions which can be used with our event management tool...</li>
</ul>
