<div>
  <h2 id="page-heading" data-cy="AdminFeesPriceHeading">
    <span jhiTranslate="createyoureventApp.adminFeesPrice.home.title">Admin Fees Prices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="createyoureventApp.adminFeesPrice.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-admin-fees-price"
        [routerLink]="['/admin-fees-price/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="createyoureventApp.adminFeesPrice.home.createLabel"> Create a new Admin Fees Price </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="adminFeesPrices?.length === 0">
    <span jhiTranslate="createyoureventApp.adminFeesPrice.home.notFound">No adminFeesPrices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="adminFeesPrices && adminFeesPrices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="feesOrganisator">
            <span jhiTranslate="createyoureventApp.adminFeesPrice.feesOrganisator">Fees Organisator</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="feesSupplier">
            <span jhiTranslate="createyoureventApp.adminFeesPrice.feesSupplier">Fees Supplier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="feesService">
            <span jhiTranslate="createyoureventApp.adminFeesPrice.feesService">Fees Service</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="feesOrganizations">
            <span jhiTranslate="createyoureventApp.adminFeesPrice.feesOrganizations">Fees Organizations</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adminFeesPrice of adminFeesPrices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/admin-fees-price', adminFeesPrice.id, 'view']">{{ adminFeesPrice.id }}</a>
          </td>
          <td>{{ adminFeesPrice.feesOrganisator }}</td>
          <td>{{ adminFeesPrice.feesSupplier }}</td>
          <td>{{ adminFeesPrice.feesService }}</td>
          <td>{{ adminFeesPrice.feesOrganizations }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/admin-fees-price', adminFeesPrice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/admin-fees-price', adminFeesPrice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(adminFeesPrice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="adminFeesPrices && adminFeesPrices.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
