<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="organizationStarRating">
      <h2 data-cy="organizationStarRatingDetailsHeading">
        <span jhiTranslate="createyoureventApp.organizationStarRating.detail.title">Organization Star Rating</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ organizationStarRating.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.organizationStarRating.stars">Stars</span></dt>
        <dd>
          <span>{{ organizationStarRating.stars }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.organizationStarRating.date">Date</span></dt>
        <dd>
          <span>{{ organizationStarRating.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.organizationStarRating.comment">Comment</span></dt>
        <dd>
          <span>{{ organizationStarRating.comment }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.organizationStarRating.organization">Organization</span></dt>
        <dd>
          <div *ngIf="organizationStarRating.organization">
            <a [routerLink]="['/organization', organizationStarRating.organization?.id, 'view']">{{
              organizationStarRating.organization?.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.organizationStarRating.user">User</span></dt>
        <dd>
          <span>{{ organizationStarRating.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/organization-star-rating', organizationStarRating.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
