<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="eventProductRating">
      <h2 data-cy="eventProductRatingDetailsHeading">
        <span jhiTranslate="createyoureventApp.eventProductRating.detail.title">Event Product Rating</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ eventProductRating.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventProductRating.like">Like</span></dt>
        <dd>
          <span>{{ eventProductRating.like }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventProductRating.dislike">Dislike</span></dt>
        <dd>
          <span>{{ eventProductRating.dislike }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventProductRating.date">Date</span></dt>
        <dd>
          <span>{{ eventProductRating.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventProductRating.comment">Comment</span></dt>
        <dd>
          <span>{{ eventProductRating.comment }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventProductRating.product">Product</span></dt>
        <dd>
          <div *ngIf="eventProductRating.product">
            <a [routerLink]="['/product', eventProductRating.product?.id, 'view']">{{ eventProductRating.product?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventProductRating.event">Event</span></dt>
        <dd>
          <div *ngIf="eventProductRating.event">
            <a [routerLink]="['/event', eventProductRating.event?.id, 'view']">{{ eventProductRating.event?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.eventProductRating.user">User</span></dt>
        <dd>
          <span>{{ eventProductRating.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/event-product-rating', eventProductRating.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
