<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <h1 jhiTranslate="instructions.title_page"></h1>
		</div>
    </div>
    <hr/>
	<div class="row">
		<div class="col-md-8">
      <iframe width="500" height="250" src="https://www.youtube.com/embed/TAMVzrxHmIY" title="Register an account on www.createyourevent.org" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
            <h3><span jhiTranslate="instructions.register">Register on www.createyourevent.org</span></h3>
            <p jhiTranslate="instructions.register.info">You  could register 3 types of profiles on Create Your Event. If you want 2 or more profiles with same mail-address
                                                          please contact us on admin@createyourevent.org</p>
		</div>
	</div>
  <hr/>
	<div class="row">
		<div class="col-md-8">
      <iframe width="500" height="250" src="https://www.youtube.com/embed/iWJbuDMC7kc" title="Overview over the menu structure on www.createyourevent.org" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
      <h3><span jhiTranslate="instructions.menu">Register on www.createyourevent.org</span></h3>
      <p jhiTranslate="instructions.menu.info">Overview of the Create Your Event menu. Here you can find out how we have carefully thought through the menu structure of Create Your Event and
        how you can find yourself as an organizer, supplier, service provider but also as an event participant.</p>
		</div>
	</div>
  <hr/>
	<div class="row">
		<div class="col-md-8">
      <iframe width="500" height="250" src="https://www.youtube.com/embed/8XOMO557uCE" title="Register a shop on www.createyourevent.org" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
      <h3><span jhiTranslate="instructions.register-shop">Register a shop on www.createyourevent.org</span></h3>
      <p jhiTranslate="instructions.register-shop.info">If you are a supplier of a product, you can create a non-binding shop on www.createyourevent.org.
        In addition to the free advertising that you receive as a result, you can then offer your products to our event organizers.
        All you have to do is enter all the products that you would like to sell with us in the shop.
        You will receive a profile on which you can present your shop and below all of your products that you have registered on www.createyourevent.org
        will be shown in a list. You can also upload a logo and write a report on your company so that you can be better searched for.</p>
		</div>
	</div>
  <hr/>
	<div class="row">
		<div class="col-md-8">
      <iframe width="500" height="250" src="https://www.youtube.com/embed/LVvIXnBTALY" title="Register a service on www.createyourevent.org" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
      <h3><span jhiTranslate="instructions.register-service">Register a service on www.createyourevent.org</span></h3>
      <p jhiTranslate="instructions.register-service.info">If you are a service provider, you can also register at www.createyourevent.org and record your costs.
        You can easily record these costs with us in an hourly rate and also record the kilometer price that you have with us.
        The hours required and the price per kilometer are then automatically calculated based on the information provided by the organizer.
        As a service provider, after the event has been recorded, you can consult with the organizer as to whether this is possible, as the organizer had in mind.</p>
		</div>
	</div>
  <hr/>
	<div class="row">
		<div class="col-md-8">
      <h3><span jhiTranslate="instructions.register-event">Register an event on www.createyourevent.org</span></h3>
      <p jhiTranslate="instructions.register-event.info">

      </p>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>
