<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="deliveryType">
      <h2 data-cy="deliveryTypeDetailsHeading"><span jhiTranslate="createyoureventApp.deliveryType.detail.title">Delivery Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ deliveryType.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.deliveryType.deliveryType">Delivery Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'createyoureventApp.DeliveryTypes.' + deliveryType.deliveryType }}">{{ deliveryType.deliveryType }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.deliveryType.minimumOrderQuantity">Minimum Order Quantity</span></dt>
        <dd>
          <span>{{ deliveryType.minimumOrderQuantity }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.deliveryType.price">Price</span></dt>
        <dd>
          <span>{{ deliveryType.price }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.deliveryType.pricePerKilometre">Price Per Kilometre</span></dt>
        <dd>
          <span>{{ deliveryType.pricePerKilometre }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.deliveryType.product">Product</span></dt>
        <dd>
          <div *ngIf="deliveryType.product">
            <a [routerLink]="['/product', deliveryType.product?.id, 'view']">{{ deliveryType.product?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/delivery-type', deliveryType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
