<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-shop-comment-heading"
        data-cy="ShopCommentCreateUpdateHeading"
        jhiTranslate="createyoureventApp.shopComment.home.createOrEditLabel"
      >
        Create or edit a Shop Comment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.shopComment.comment" for="field_comment">Comment</label>
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.shopComment.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.shopComment.shop" for="field_shop">Shop</label>
          <select class="form-control" id="field_shop" data-cy="shop" name="shop" formControlName="shop">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="shopOption.id === editForm.get('shop')!.value?.id ? editForm.get('shop')!.value : shopOption"
              *ngFor="let shopOption of shopsSharedCollection; trackBy: trackShopById"
            >
              {{ shopOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.shopComment.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="createyoureventApp.shopComment.shopComment" for="field_shopComment"
            >Shop Comment</label
          >
          <select class="form-control" id="field_shopComment" data-cy="shopComment" name="shopComment" formControlName="shopComment">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                shopCommentOption.id === editForm.get('shopComment')!.value?.id ? editForm.get('shopComment')!.value : shopCommentOption
              "
              *ngFor="let shopCommentOption of shopCommentsSharedCollection; trackBy: trackShopCommentById"
            >
              {{ shopCommentOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
