@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/cosmo/variables';
@import '~bootstrap/scss/variables';
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css');
@import '../../../../../node_modules/angular-calendar/css/angular-calendar.css';
@import '../../../../../node_modules/primeicons/primeicons.css';
@import '../../../../../node_modules/primeng/resources/themes/nova/theme.css';
@import '../../../../../node_modules/primeng/resources/primeng.min.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');
@import url('../../../../../node_modules/quill/dist/quill.core.css');
@import url('../../../../../node_modules/quill/dist/quill.snow.css');
@import url('../../../../../node_modules/primeflex/primeflex.css');
// @import url('../../../../../node_modules/quill-emoji/dist/quill-emoji.css');
// @import '~ngx-sharebuttons/themes/default/default-theme';
// @import url('../../../../../node_modules/ng-chat/ng-chat/assets/icons.css');
// @import url('../../../../../node_modules/ng-chat/ng-chat/assets/loading-spinner.css');
// @import url('../../../../../node_modules/ng-chat/ng-chat/assets/ng-chat.component.default.css');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('gradient.scss');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

@import url('~@videogular/ngx-videogular/fonts/videogular.css');
/* ==============================================================
Bootstrap tweaks
===============================================================*/
body {
  color: #000;
}

.logo_center {
  text-align: center;
}

.coolQRCode {
  text-align: center;
  margin: 0 auto;
}

.coolQRCode img {
  margin-top: 50px;
}

.adsbygoogle {
  /* margin-top: 95px; */
}

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

.tag-cloud a {
  color: inherit !important;
}

board {
  width: 290px;
  display: block;
  margin: 0 auto;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error_all {
  color: white;
  background-color: red;
}

.error_all {
  color: white;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.datatrans_button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.logo_payment {
  padding: 15px;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.navbar {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(107, 19, 107, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(107, 19, 107, 1);
  box-shadow: 10px 10px 5px 0px rgba(107, 19, 107, 1);
  background: rgb(149, 149, 149); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(149, 149, 149, 1) 0%,
    rgba(13, 13, 13, 1) 46%,
    rgba(1, 1, 1, 1) 50%,
    rgba(10, 10, 10, 1) 53%,
    rgba(78, 78, 78, 1) 76%,
    rgba(56, 56, 56, 1) 87%,
    rgba(27, 27, 27, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(149, 149, 149, 1) 0%,
    rgba(13, 13, 13, 1) 46%,
    rgba(1, 1, 1, 1) 50%,
    rgba(10, 10, 10, 1) 53%,
    rgba(78, 78, 78, 1) 76%,
    rgba(56, 56, 56, 1) 87%,
    rgba(27, 27, 27, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(149, 149, 149, 1) 0%,
    rgba(13, 13, 13, 1) 46%,
    rgba(1, 1, 1, 1) 50%,
    rgba(10, 10, 10, 1) 53%,
    rgba(78, 78, 78, 1) 76%,
    rgba(56, 56, 56, 1) 87%,
    rgba(27, 27, 27, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

.jh-card {
  border-radius: 15px;
  -webkit-box-shadow: 9px 6px 16px -1px rgba(240, 232, 79, 1);
  -moz-box-shadow: 9px 6px 16px -1px rgba(240, 232, 79, 1);
  box-shadow: 9px 6px 16px -1px rgba(240, 232, 79, 1);
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 3%,
    rgba(249, 255, 216, 1) 54%,
    rgba(237, 244, 95, 1) 84%,
    rgba(237, 244, 95, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 3%,
    rgba(249, 255, 216, 1) 54%,
    rgba(237, 244, 95, 1) 84%,
    rgba(237, 244, 95, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 3%,
    rgba(249, 255, 216, 1) 54%,
    rgba(237, 244, 95, 1) 84%,
    rgba(237, 244, 95, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf45f',GradientType=0 ); /* IE6-9 */
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 290px;
  background: rgb(179, 220, 237); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 7%,
    rgba(179, 220, 237, 1) 7%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 7%,
    rgba(179, 220, 237, 1) 7%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(179, 220, 237, 1) 7%,
    rgba(179, 220, 237, 1) 7%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(235, 245, 255, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(235, 245, 255, 1);
  box-shadow: 10px 10px 5px 0px rgba(235, 245, 255, 1);
}

.container {
  width: 100%;
}

.content .has-text-centered {
  width: 1024px;
  margin: 0 auto;
}

.cocktail {
  background: url('../images/cocktail.png') no-repeat;
  position: absolute;
  left: 100px;
  width: 170px;
  height: 380px;
  top: 159px;
}

.discokugel {
  background: url('../images/discoballs.png') no-repeat;
  position: absolute;
  left: 280px;
  width: 230px;
  height: 200px;
  top: 109px;
  z-index: 5;
}

.fruitcocktail {
  background: url('../images/fruchtcocktail.png') no-repeat;
  position: absolute;
  right: 100px;
  width: 170px;
  height: 380px;
  top: 143px;
}

.palmenblatt {
  background: url('../images/palmenblatt.png') no-repeat;
  position: absolute;
  right: 0px;
  width: 192px;
  height: 260px;
  top: 65px;
}

.powered-by {
  margin: 0 auto;
}

.palme {
  background: url('../images/palme.png') no-repeat;
  width: 220px;
  height: 240px;
  display: inline-block;
}

.created-with-heart {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../../content/images/heart.png') no-repeat center top;
  background-size: contain;
}

.shop-card {
  max-width: 700px;
  margin: 20px auto;
}

.mat-tab-body-content {
  min-height: 300px;
}

.mat-horizontal-content-container {
  overflow: visible !important;
}

.mat-table {
  width: 100%;
}

.product-table {
  margin: 20px;
}

.select-items-alert {
  margin: 20px;
}

.box {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 15px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

.box_yellow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 15px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
  background: #fceabb; /* Old browsers */
  background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

.box_green {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 15px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
  background: rgb(191, 210, 85); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(191, 210, 85, 1) 0%,
    rgba(142, 185, 42, 1) 50%,
    rgba(114, 170, 0, 1) 51%,
    rgba(158, 203, 45, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(191, 210, 85, 1) 0%,
    rgba(142, 185, 42, 1) 50%,
    rgba(114, 170, 0, 1) 51%,
    rgba(158, 203, 45, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(191, 210, 85, 1) 0%,
    rgba(142, 185, 42, 1) 50%,
    rgba(114, 170, 0, 1) 51%,
    rgba(158, 203, 45, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

.box_violet {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 15px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */
  background: rgb(203, 96, 179); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(203, 96, 179, 1) 0%,
    rgba(193, 70, 161, 1) 50%,
    rgba(168, 0, 119, 1) 51%,
    rgba(219, 54, 164, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(203, 96, 179, 1) 0%,
    rgba(193, 70, 161, 1) 50%,
    rgba(168, 0, 119, 1) 51%,
    rgba(219, 54, 164, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(203, 96, 179, 1) 0%,
    rgba(193, 70, 161, 1) 50%,
    rgba(168, 0, 119, 1) 51%,
    rgba(219, 54, 164, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */
}

.box_green_diagonal {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
  background: rgb(180, 227, 145); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(180, 227, 145, 1) 0%, rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(180, 227, 145, 1) 0%,
    rgba(97, 196, 25, 1) 50%,
    rgba(180, 227, 145, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(180, 227, 145, 1) 0%,
    rgba(97, 196, 25, 1) 50%,
    rgba(180, 227, 145, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.box_blue_diagonal {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: 1px solid black;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: rgb(179, 220, 237); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.box_brown {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: 1px solid black;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
  background: rgb(240, 183, 161); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(240, 183, 161, 1) 0%,
    rgba(140, 51, 16, 1) 50%,
    rgba(117, 34, 1, 1) 51%,
    rgba(191, 110, 78, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(240, 183, 161, 1) 0%,
    rgba(140, 51, 16, 1) 50%,
    rgba(117, 34, 1, 1) 51%,
    rgba(191, 110, 78, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(240, 183, 161, 1) 0%,
    rgba(140, 51, 16, 1) 50%,
    rgba(117, 34, 1, 1) 51%,
    rgba(191, 110, 78, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
}

.box_white {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: 1px solid black;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: #fff; /* Old browsers */
}

.white {
  color: #fff;
}

.big {
  font-size: large;
}

.padding {
  padding: 5px;
}

.c2 {
  margin-bottom: 25px;
}

.margin_bottom_25 {
  margin-bottom: 25px;
}

.title_motto {
  margin: auto;
}

.title {
  font-family: 'Diplomata SC', cursive;
  margin: auto;
  text-align: center;
  text-shadow: 3px 3px white;
}

.shadow {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.margin-auto {
  margin: auto;
  text-align: center;
}

.ql-editor strong {
  font-weight: bold;
}

.productEventModal .modal-dialog {
  width: 100%;
  max-width: 1250px;
}

.btn-payrexx {
  display: inline-block;
  width: auto;
  padding: 6px 20px 6px 20px;
  font-size: 16px;
  font-weight: 300;
  white-space: inherit;
  background-color: #99cc33;
  border: 0;
  outline: 0;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}
.btn-payrexx:focus,
.btn-payrexx:hover {
  background-color: #19b8f2;
  color: #ffffff;
}

.mat-expansion-panel-header {
  background: #bfd255; /* Old browsers */
  border: 1px solid black;
  text-shadow: 2px 2px 2px #e8ff2c;
}

.mat-expansion-panel-body {
  padding-top: 15px;
}

.mat-expansion-panel-content {
  background: #bfd255; /* Old browsers */
  background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #bfd255 0%,
    #8eb92a 50%,
    #72aa00 51%,
    #9ecb2d 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
  color: white;
}

.floated-container {
  width: 100%;
  padding: 15px;
}

.floated {
  float: left;
  width: 175px;
}

.icon-large {
  font-size: 130px;
  padding: 5px;
}

.button {
  background: #0000ff;
  background: linear-gradient(#0000ff, #000000);
  border: 4px solid #556699;
  border-radius: 11px;
  box-shadow: 0 5px #444444;
  color: #ffffff;
  display: inline-block;
  font: normal bold 40px/1 'Vollkorn', serif;
  text-align: center;
  text-shadow: 5px 5px #000000;
  padding: 15px;
}

.abril {
  font-family: 'Bungee', cursive;
  font-size: larger;
}

.chip {
  position: absolute;
  z-index: 9;
}

.scrolltop-button.gray[_ngcontent-cij-c226] {
  left: 20px;
  background-color: #212121;
  color: #fafafa;
}

#container-loading {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 35%;
  left: 45%;
}

.scrolltop-button {
  left: 20px;
}

.p-scrollpanel .p-scrollpanel-bar {
  background-color: blueviolet !important;
}

.bungee-inline {
  font-family: 'Bungee Inline', cursive;
  hyphens: auto;
}

.CardField-input-wrapper {
  background-color: white;
}

.content {
  z-index: 3;
  background: none;
}

.card-img-event {
  max-width: 210px;
  max-height: 300px;
  margin: 0 auto;
}

.container_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.container_box .box_1 {
  position: relative;
  height: 950px;
  color: #fff;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_box .box_1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.container_box .box_1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.container_box .box_1 .black {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container_box .box_2 {
  position: relative;
  height: 950px;
  color: #fff;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_box .box_2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #8eb92a, #001eff);
  filter: blur(30px);
}

.container_box .box_2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #8eb92a, #001eff);
}

.container_box .box_2 .black {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container_box .box_3 {
  position: relative;
  height: 950px;
  color: #fff;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_box .box_3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #b92a9c, #f2ff00);
  filter: blur(30px);
}

.container_box .box_3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #b92a9c, #f2ff00);
}

.container_box .box_3 .black {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container_box .box_4 {
  position: relative;
  height: 950px;
  color: #fff;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_box .box_4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #dc650a, #7700ff);
  filter: blur(30px);
}

.container_box .box_4::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #dc650a, #7700ff);
}

.container_box .box_4 .black {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

#widget2 {
  margin: 8px;
}

.p-carousel-indicators {
  display: none !important;
}

.p-carousel-prev {
  display: none !important;
}

.p-carousel-next {
  display: none !important;
}

jhi-movie-slider .p-carousel-container {
  margin-top: 32px;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #060b22;
  overflow: hidden;
  z-index: -10;
}

.background span {
  width: 12vmin;
  height: 12vmin;
  border-radius: 12vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 48;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #eb8900;
  top: 4%;
  left: 94%;
  animation-duration: 23s;
  animation-delay: -11s;
  transform-origin: 12vw 6vh;
  box-shadow: -24vmin 0 3.4635925342126317vmin currentColor;
}
.background span:nth-child(1) {
  color: #eb8900;
  top: 70%;
  left: 38%;
  animation-duration: 24s;
  animation-delay: -2s;
  transform-origin: 23vw 23vh;
  box-shadow: 24vmin 0 3.1275317820882287vmin currentColor;
}
.background span:nth-child(2) {
  color: #eb8900;
  top: 82%;
  left: 76%;
  animation-duration: 21s;
  animation-delay: -3s;
  transform-origin: 15vw -5vh;
  box-shadow: -24vmin 0 3.1479052946123174vmin currentColor;
}
.background span:nth-child(3) {
  color: #f9f001;
  top: 94%;
  left: 33%;
  animation-duration: 25s;
  animation-delay: -13s;
  transform-origin: -9vw 2vh;
  box-shadow: 24vmin 0 3.3218290327945854vmin currentColor;
}
.background span:nth-child(4) {
  color: #05945d;
  top: 88%;
  left: 77%;
  animation-duration: 10s;
  animation-delay: -14s;
  transform-origin: 9vw 24vh;
  box-shadow: 24vmin 0 3.0697679834513427vmin currentColor;
}
.background span:nth-child(5) {
  color: #eb8900;
  top: 93%;
  left: 77%;
  animation-duration: 12s;
  animation-delay: -9s;
  transform-origin: 19vw 5vh;
  box-shadow: 24vmin 0 3.3100438140817676vmin currentColor;
}
.background span:nth-child(6) {
  color: #eb8900;
  top: 95%;
  left: 20%;
  animation-duration: 6s;
  animation-delay: -4s;
  transform-origin: -13vw -6vh;
  box-shadow: -24vmin 0 3.5225448491838938vmin currentColor;
}
.background span:nth-child(7) {
  color: #f9f001;
  top: 91%;
  left: 70%;
  animation-duration: 18s;
  animation-delay: -18s;
  transform-origin: -1vw -5vh;
  box-shadow: 24vmin 0 3.460904408469016vmin currentColor;
}
.background span:nth-child(8) {
  color: #05945d;
  top: 27%;
  left: 38%;
  animation-duration: 17s;
  animation-delay: -4s;
  transform-origin: 14vw 13vh;
  box-shadow: 24vmin 0 3.323986073553206vmin currentColor;
}
.background span:nth-child(9) {
  color: #eb8900;
  top: 14%;
  left: 62%;
  animation-duration: 11s;
  animation-delay: -5s;
  transform-origin: -18vw 9vh;
  box-shadow: -24vmin 0 3.0767145890468717vmin currentColor;
}
.background span:nth-child(10) {
  color: #05945d;
  top: 78%;
  left: 27%;
  animation-duration: 9s;
  animation-delay: -20s;
  transform-origin: 6vw -6vh;
  box-shadow: -24vmin 0 3.136134367743338vmin currentColor;
}
.background span:nth-child(11) {
  color: #eb8900;
  top: 60%;
  left: 97%;
  animation-duration: 10s;
  animation-delay: -1s;
  transform-origin: -1vw -14vh;
  box-shadow: 24vmin 0 3.5869468274049834vmin currentColor;
}
.background span:nth-child(12) {
  color: #f9f001;
  top: 77%;
  left: 17%;
  animation-duration: 15s;
  animation-delay: -18s;
  transform-origin: 7vw 23vh;
  box-shadow: 24vmin 0 3.6797498451487716vmin currentColor;
}
.background span:nth-child(13) {
  color: #eb8900;
  top: 73%;
  left: 46%;
  animation-duration: 8s;
  animation-delay: -7s;
  transform-origin: -21vw 1vh;
  box-shadow: 24vmin 0 3.0808230062067024vmin currentColor;
}
.background span:nth-child(14) {
  color: #f9f001;
  top: 59%;
  left: 36%;
  animation-duration: 22s;
  animation-delay: -9s;
  transform-origin: 24vw -12vh;
  box-shadow: -24vmin 0 3.133949944779866vmin currentColor;
}
.background span:nth-child(15) {
  color: #f9f001;
  top: 96%;
  left: 26%;
  animation-duration: 17s;
  animation-delay: -20s;
  transform-origin: -7vw -4vh;
  box-shadow: -24vmin 0 3.0506477640536174vmin currentColor;
}
.background span:nth-child(16) {
  color: #05945d;
  top: 10%;
  left: 3%;
  animation-duration: 11s;
  animation-delay: -15s;
  transform-origin: 25vw 1vh;
  box-shadow: -24vmin 0 3.868005710789112vmin currentColor;
}
.background span:nth-child(17) {
  color: #05945d;
  top: 92%;
  left: 40%;
  animation-duration: 24s;
  animation-delay: -15s;
  transform-origin: -11vw 5vh;
  box-shadow: -24vmin 0 3.708860687366906vmin currentColor;
}
.background span:nth-child(18) {
  color: #05945d;
  top: 24%;
  left: 18%;
  animation-duration: 17s;
  animation-delay: -18s;
  transform-origin: -16vw -13vh;
  box-shadow: -24vmin 0 3.167824772658319vmin currentColor;
}
.background span:nth-child(19) {
  color: #05945d;
  top: 82%;
  left: 43%;
  animation-duration: 15s;
  animation-delay: -3s;
  transform-origin: 9vw 21vh;
  box-shadow: 24vmin 0 3.4360466200842668vmin currentColor;
}
.background span:nth-child(20) {
  color: #eb8900;
  top: 23%;
  left: 61%;
  animation-duration: 24s;
  animation-delay: -5s;
  transform-origin: 21vw 8vh;
  box-shadow: -24vmin 0 3.9188243915802747vmin currentColor;
}
.background span:nth-child(21) {
  color: #f9f001;
  top: 53%;
  left: 68%;
  animation-duration: 18s;
  animation-delay: -7s;
  transform-origin: 5vw 17vh;
  box-shadow: 24vmin 0 3.615652663042315vmin currentColor;
}
.background span:nth-child(22) {
  color: #f9f001;
  top: 37%;
  left: 68%;
  animation-duration: 11s;
  animation-delay: -7s;
  transform-origin: -6vw 0vh;
  box-shadow: 24vmin 0 3.74294610140595vmin currentColor;
}
.background span:nth-child(23) {
  color: #eb8900;
  top: 62%;
  left: 29%;
  animation-duration: 25s;
  animation-delay: -16s;
  transform-origin: -2vw -2vh;
  box-shadow: 24vmin 0 3.9195523164318398vmin currentColor;
}
.background span:nth-child(24) {
  color: #05945d;
  top: 32%;
  left: 19%;
  animation-duration: 6s;
  animation-delay: -7s;
  transform-origin: 1vw -24vh;
  box-shadow: -24vmin 0 3.2405470283337316vmin currentColor;
}
.background span:nth-child(25) {
  color: #eb8900;
  top: 42%;
  left: 38%;
  animation-duration: 13s;
  animation-delay: -7s;
  transform-origin: -7vw 24vh;
  box-shadow: 24vmin 0 3.948944613182782vmin currentColor;
}
.background span:nth-child(26) {
  color: #f9f001;
  top: 55%;
  left: 34%;
  animation-duration: 18s;
  animation-delay: -15s;
  transform-origin: -16vw 3vh;
  box-shadow: 24vmin 0 3.3560652720072333vmin currentColor;
}
.background span:nth-child(27) {
  color: #f9f001;
  top: 14%;
  left: 14%;
  animation-duration: 20s;
  animation-delay: -12s;
  transform-origin: -3vw 16vh;
  box-shadow: -24vmin 0 3.9176718341317107vmin currentColor;
}
.background span:nth-child(28) {
  color: #eb8900;
  top: 57%;
  left: 62%;
  animation-duration: 20s;
  animation-delay: -19s;
  transform-origin: -11vw 1vh;
  box-shadow: 24vmin 0 3.444998943436068vmin currentColor;
}
.background span:nth-child(29) {
  color: #05945d;
  top: 52%;
  left: 100%;
  animation-duration: 20s;
  animation-delay: -16s;
  transform-origin: -10vw 6vh;
  box-shadow: 24vmin 0 3.6569805692048485vmin currentColor;
}
.background span:nth-child(30) {
  color: #eb8900;
  top: 48%;
  left: 27%;
  animation-duration: 20s;
  animation-delay: -13s;
  transform-origin: 19vw 24vh;
  box-shadow: -24vmin 0 3.453484109940769vmin currentColor;
}
.background span:nth-child(31) {
  color: #eb8900;
  top: 56%;
  left: 21%;
  animation-duration: 9s;
  animation-delay: -9s;
  transform-origin: 12vw 2vh;
  box-shadow: 24vmin 0 3.9855826811284025vmin currentColor;
}
.background span:nth-child(32) {
  color: #eb8900;
  top: 7%;
  left: 15%;
  animation-duration: 10s;
  animation-delay: -13s;
  transform-origin: 8vw 9vh;
  box-shadow: 24vmin 0 3.4618926610674423vmin currentColor;
}
.background span:nth-child(33) {
  color: #f9f001;
  top: 84%;
  left: 4%;
  animation-duration: 18s;
  animation-delay: -15s;
  transform-origin: -17vw -14vh;
  box-shadow: 24vmin 0 3.3274284912810486vmin currentColor;
}
.background span:nth-child(34) {
  color: #f9f001;
  top: 50%;
  left: 87%;
  animation-duration: 11s;
  animation-delay: -5s;
  transform-origin: 5vw -22vh;
  box-shadow: -24vmin 0 3.480418911483017vmin currentColor;
}
.background span:nth-child(35) {
  color: #f9f001;
  top: 58%;
  left: 48%;
  animation-duration: 9s;
  animation-delay: -19s;
  transform-origin: -15vw -11vh;
  box-shadow: -24vmin 0 3.397747404871195vmin currentColor;
}
.background span:nth-child(36) {
  color: #05945d;
  top: 37%;
  left: 67%;
  animation-duration: 25s;
  animation-delay: -9s;
  transform-origin: 23vw -5vh;
  box-shadow: -24vmin 0 3.9323323347895727vmin currentColor;
}
.background span:nth-child(37) {
  color: #05945d;
  top: 36%;
  left: 75%;
  animation-duration: 6s;
  animation-delay: -3s;
  transform-origin: -14vw 19vh;
  box-shadow: -24vmin 0 3.1342426281625624vmin currentColor;
}
.background span:nth-child(38) {
  color: #05945d;
  top: 92%;
  left: 97%;
  animation-duration: 21s;
  animation-delay: -13s;
  transform-origin: 17vw 21vh;
  box-shadow: -24vmin 0 3.3898517308736564vmin currentColor;
}

.shiny-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 12px;
  background-color: #73b10e;
  background-image: -webkit-linear-gradient(top, #76b60e 0%, #86c028 48%, #73b10e 49%, #73b10e 82%, #84cb10 100%);
  background-image: -moz-linear-gradient(top, #76b60e 0%, #86c028 48%, #73b10e 49%, #73b10e 82%, #84cb10 100%);
  background-image: -o-linear-gradient(top, #76b60e 0%, #86c028 48%, #73b10e 49%, #73b10e 82%, #84cb10 100%);
  background-image: linear-gradient(top, #76b60e 0%, #86c028 48%, #73b10e 49%, #73b10e 82%, #84cb10 100%);
  border-color: hsl(83, 29%, 37%);
  -webkit-box-shadow: inset 0 0 1px 1px #95e512, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #95e512, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #95e512, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #365207;
  -moz-text-shadow: 1px 1px 1px #365207;
  -o-text-shadow: 1px 1px 1px #365207;
  text-shadow: 1px 1px 1px #365207;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  padding: 12px 30px 12px 30px;
}

.shiny-button strong {
  letter-spacing: 1px;
  font-size: 22px;
}

.shiny-button:hover {
  color: #ffffff;
  background-color: #7cbf0f;
  background-image: -webkit-linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
  background-image: -moz-linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
  background-image: -o-linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
  background-image: linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
  border-color: hsl(83, 28%, 36%);
  -webkit-box-shadow: inset 0 0 1px 1px #9eed1e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #9eed1e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #9eed1e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #3f6008;
  -moz-text-shadow: 1px 1px 1px #3f6008;
  -o-text-shadow: 1px 1px 1px #3f6008;
  text-shadow: 1px 1px 1px #3f6008;
}

.shiny-button:active {
  color: #ffffff;
  background-color: #6aa30d;
  background-image: -webkit-linear-gradient(top, #649a0c 0%, #73b10e 100%);
  background-image: -moz-linear-gradient(top, #649a0c 0%, #73b10e 100%);
  background-image: -o-linear-gradient(top, #649a0c 0%, #73b10e 100%);
  background-image: linear-gradient(top, #649a0c 0%, #73b10e 100%);
  padding: 13px 30px 11px 30px;
}

.p-dock {
  z-index: 500;
}

.p-dock-list {
  position: fixed;
  margin-bottom: 100px !important;
}

.mat-horizontal-stepper-header-container {
  pointer-events: none !important;
}

.img-thumbnail {
  padding: 0.25rem;
  padding: 5px;
  border: 3px solid #010;
  background-color: #fff;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
