<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="building">
      <h2 data-cy="buildingDetailsHeading"><span jhiTranslate="createyoureventApp.building.detail.title">Building</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ building.id }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.building.surface">Surface</span></dt>
        <dd>
          <span>{{ building.surface }}</span>
        </dd>
        <dt><span jhiTranslate="createyoureventApp.building.organization">Organization</span></dt>
        <dd>
          <div *ngIf="building.organization">
            <a [routerLink]="['/organization', building.organization?.id, 'view']">{{ building.organization?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/building', building.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
