.card {
  box-shadow: 10px 10px 7px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 7px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 7px -3px rgba(0, 0, 0, 0.75);
  padding: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */
  background: rgb(254, 204, 177); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(254, 204, 177, 1) 0%,
    rgba(241, 116, 50, 1) 50%,
    rgba(234, 85, 7, 1) 51%,
    rgba(251, 149, 94, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(254, 204, 177, 1) 0%,
    rgba(241, 116, 50, 1) 50%,
    rgba(234, 85, 7, 1) 51%,
    rgba(251, 149, 94, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(254, 204, 177, 1) 0%,
    rgba(241, 116, 50, 1) 50%,
    rgba(234, 85, 7, 1) 51%,
    rgba(251, 149, 94, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
  height: 600px;
  margin: 10px auto;
}

.center {
  text-align: center;
  margin: 5px auto;
}

.title {
  color: black;
  font-family: 'Knewave', cursive;
}

.price {
  color: red;
  font-family: 'Knewave', cursive;
}

.star {
  background-image: url('../../../../content/images/star_250.png');
  background-size: 250px 250px;
  background-repeat: repeat-x;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 30px;
}
